
<section class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="/seller">
                        <h1>eStore Seller</h1>
                    </a>
                </div>
                <div class="login-form">
                    <form id="signupForm" action="/seller/forgot" method="post">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="number" class="form-control" placeholder="Phone number" name="phone_number" required minlength="10" maxlength="10">
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-15">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $("#signupForm").validate()
</script>
