<div class="success">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>We received your purchase request;<br /> we'll be in touch shortly!</p>
    </div>
    <div>
        <button class="btn btn-success mt-5" style="padding: 18px 156px;"><a href="/" style="color: white;">Shopping Again</a></button>
    </div>
</div>