<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eStore</title>
    {{!-- jquery validation --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/user/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/user/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/user/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/user/css/lightslider.min.css">
    <link rel="stylesheet" href="/user/css/flaticon.css">
    <link rel="stylesheet" href="/user/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/user/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/user/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/user/css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/user/css/style.css">
</head>


<body>
     {{>userbase_header}}
     {{{body}}}
    

    <!-- jquery plugins here-->
    <script src="/user/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/user/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/user/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/user/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/user/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/user/js/lightslider.min.js"></script>
    <!-- swiper js -->
    <script src="/user/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/user/js/owl.carousel.min.js"></script>
    <script src="/user/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/user/js/slick.min.js"></script>
    <script src="/user/js/jquery.counterup.min.js"></script>
    <script src="/user/js/waypoints.min.js"></script>
    <script src="/user/js/contact.js"></script>
    <script src="/user/js/jquery.ajaxchimp.min.js"></script>
    <script src="/user/js/jquery.form.js"></script>
    <script src="/user/js/jquery.validate.min.js"></script>
    <script src="/user/js/mail-script.js"></script>
    <script src="/user/js/stellar.js"></script>
    
    <!-- custom js -->
    <script src="/user/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"
        integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Second custom js -->
    <script src="/user/js/style.js"></script>
    <script src="/user/js/price_rangs.js"></script>
</body>

</html>